<div class="container main-container">

    <h1>Moradores</h1>

    <p>
        <a [routerLink]="['/morador/novo']" class="btn btn-success">
            <i class="fa fa-plus mr-2"></i>Cadastrar morador
        </a>
    </p>

    <table class="table table-hover">
        <tr class="thead-dark">
            <th></th>
            <th class="text-center">Tipo</th>
            <th>Nome</th>
            <th class="text-center">Nascimento</th>
            <th>Documento</th>
            <th class="text-center">Receita Mensal</th>
            <th class="text-center">Contribuição Mensal</th>            
            <th class="text-center" style="width: 16%;"></th>
        </tr>

        <tr *ngFor="let morador of moradores">
            <td><img src="{{imagesUrl}}/imagens/{{morador.foto}}" class="rounded-circle" width="100px" height="100px" /></td>
            <td class="text-center">{{morador.tipoMorador == 1 ? 'Gestor' : 'Morador'}}</td>
            <td>{{morador.nomeCompleto}}</td>
            <td class="text-center">{{morador.dataNascimento | date: 'dd/MM/yyyy'}}</td>
            <td>{{morador.tipoDocumento == 0 ? (morador.documento | cpf) : (morador.documento | cnpj)}}</td>
            <td class="text-center">{{morador.receitaMensal | currencyBrazil}}</td>
            <td class="text-center">{{morador.contribuicao | currencyBrazil }}</td>
            <td class="text-center">
                <a class="btn btn-info mr-2" [routerLink]="['/morador/detalhes/', morador.id]">
                    <i class="fa fa-search"></i>
                </a>
                <a class="btn btn-warning mr-2" [routerLink]="['/morador/editar/', morador.id]">
                    <i class="fa fa-edit"></i>
                </a>
                <a class="btn btn-danger mr-2" [routerLink]="['/morador/excluir/', morador.id]">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
    </table>
</div>