<div class="container main-container">
    <h1>Login</h1>

    <form novalidate [formGroup]="loginForm">
        <h4>Informe seus dados de acesso</h4>
        <hr>
        <div class="alert alert-danger" *ngIf="errors.length > 0">
            <h5>Não foi possível prosseguir: </h5>
            <ul>
                <li *ngFor="let error of errors">{{ error }}</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-10">
                <div class="form-group">
                    <label class="control-label">E-mail</label>
                    <input class="form-control" id="email" type="text" placeholder="E-mail (obrigatório)"
                        formControlName="email" [ngClass]="{ 'is-invalid' : displayMessage.email }" />
                    <span class="text-danger" *ngIf="displayMessage.email">
                        <p [innerHTML]="displayMessage.email"></p>
                    </span>
                </div>
            </div>

            <div class="col-10">
                <div class="form-group">
                    <label class="control-label">Senha</label>
                    <input class="form-control" id="password" type="password" placeholder="Senha (obrigatório)"
                        formControlName="password" [ngClass]="{ 'is-invalid' : displayMessage.password }" />
                    <span class="text-danger" *ngIf="displayMessage.password">
                        <p [innerHTML]="displayMessage.password"></p>
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <button type="submit" class="btn btn-block btn-success" [disabled]="!loginForm.valid"
                    (click)="login()">
                    Acessar
                </button>
            </div>
        </div>
    </form>
</div>