<div class="container main-container">

    <h1>Excluir morador</h1>

    <div class="alert alert-danger" *ngIf="errors.length > 0">
        <h5>Não foi possível prosseguir:</h5>
        <ul>
            <li *ngFor="let error of errors">{{error}}</li>
        </ul>
    </div>

    <div class="row">
        <div class="col-2 text-center">
            <img src="{{urlImages}}/imagens/{{morador.foto}}" class="rounded-circle" width="100px" height="100px" />
        </div>
        <div class="col-8">
            <div class="col-12">
                Tipo: {{ morador.tipoMorador == 0 ? 'Morador' : 'Gestor' }}
            </div>
            <div class="col-12">
                Nome: {{ morador.nomeCompleto }}
            </div>
            <div class="col-12">
                Data de nascimento: {{ morador.dataNascimento | date: 'dd/MM/yyyy' }}
            </div>
            <div class="col-12">
                Documento: {{ morador.tipoDocumento == 0 ? (morador.documento | cpf) : (morador.documento | cnpj) }}
            </div>
            <div class="col-12">
                Receita mensal: {{ morador.receitaMensal | currencyBrazil }}
            </div>
            <div class="col-12">
                Contribuição: {{ morador.contribuicao | currencyBrazil }}
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-4">
            <a class="btn btn-info btn-block" [routerLink]="['/morador/lista']">
                <i class="fa fa-arrow-left mr-2"></i>Voltar
            </a>
        </div>
        <div class="col-4">
            <button class="btn btn-danger btn-block" (click)="excluir()">
                <i class="fa fa-times mr-2"></i>Excluir morador
            </button>
        </div>
    </div>

</div>